<div class="container mt-4">
  <h2>Product List</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title (English)</th>
        <th scope="col">Title (Arabic)</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedData">
        <td>
          <img
            [src]="product.thumbnail"
            class="img-thumbnail"
            alt="{{ product.en.title }}"
          />
        </td>
        <td >{{ product.en.title }}</td>
        <td>{{ product.ar.title }}</td>
        <td>
          <a [routerLink]="['/home/updateProduct', product._id]" class="">
            <i class="fas fa-edit mx-2 fas1"></i>
          </a>
          <a (click)="confirmDelete(product._id)">
            <i class="fas fa-trash-alt fas2"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <app-pagination
    [totalItems]="numberOfProducts"
    [ItemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (onClick)="changPage($event)"
  ></app-pagination> -->
  <div class="pagination-container">
    <app-pagination 
      [totalItems]="numberOfProducts"
      [ItemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (onClick)="changPage($event)"
    ></app-pagination>
  </div>
  
</div>
