.img-thumbnail{
    width:100px
}
.table .rab{
    color: rgb(241, 50, 50);
    cursor: pointer;
}
.table .edit{
    // color: rgb(11, 11, 18);
    cursor: pointer;
}
.table .rab:hover{
    color: rgb(223, 69, 84)
    
    }
.table .edit:hover{
color: rgb(35, 41, 216)

}