.container {
    margin-top: 20px;
    height: 100vh;
  }
  
  h2 {
    color: #333;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .fas{
    cursor: pointer;
  }
  .fas1:hover{
color: rgb(24, 82, 143);
  }
  .fas2:hover{
   color: #8e1c14;
  }
  .table th {
    background-color: #343a40;
    color: #fff;
  }
  .table img {
    max-width: 100px;
    max-height: 80px;
  }
  
  .btn {
    margin-right: 5px;
  }
  
  .fa-edit {
    color: #007bff; 
  }
  
  .fa-trash-alt {
    color: #dc3545; 
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  app-pagination {
    display: flex;
    list-style: none;
    padding: 0;
    
  }
  
  app-pagination li {
    margin: 0 5px;
  }
  
  app-pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  app-pagination li a:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
 
  @media (max-width: 767px) {
    .table th,
    .table td {
      padding: 8px;
    }
  
    .table img {
      max-width: 80px;
      max-height: 60px;
    }
  
    .btn {
      margin-bottom: 5px;
    }
  }
  