<div class="container p-4 mt-5 ">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h3 class="text-center"><i class="fa-solid fa-user"></i> Sign up</h3>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" required id="form3Example1" name="name" class="form-control" minlength="4"
        formControlName="name"
        [ngClass]="{'is-invalid':(name?.touched || name?.dirty)&&name?.invalid}"
        placeholder="Enter your Full Name" />

      <span class="invalid-feedback">
        <span *ngIf="name?.errors?.['required']">Full Name is required</span>
        <span *ngIf="name?.errors?.['minlength']">Full Name must be at least 4 characters</span>
      </span>

    </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="form3Example3" name="email" formControlName="email"
        [ngClass]="{'is-invalid':(email?.touched || email?.dirty)&&email?.invalid}" required email
        class="form-control" />
      <span class="invalid-feedback">
        <span *ngIf="email?.errors?.['required']">Email is required</span>
        <span *ngIf="email?.errors?.['email']">Email must be contain <i class="fa-solid fa-at"></i></span>
      </span>
    </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="ConfirmPassword" required>
      </div>
  
      <div class="form-group">
        <label for="userType">User Type:</label>
        <select class="form-control" id="userType" formControlName="userType">
          <option value="admin">Admin</option>
        </select>
      </div>
  

      <div *ngIf="userForm.hasError('mismatch')">
        <small class="text-danger">Passwords do not match and 8 characters</small>
      </div>
  
      <button type="submit" class="btn btn-warning mt-2 form-control" [disabled]="userForm.invalid">sign up</button>
    </form>
  </div>