<!-- login.component.html -->
<button class="btn btn-success " (click)="loginFunc()"  [disabled]="userLog">Login</button>
<button class="btn btn-dark mx-3" (click)="logOutFunc()" [disabled]="!userLog">Log Out</button>

<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center mb-4">Admin Login</h2>
        <form>
          <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-warning btn-block mt-2">Login</button>
        </form>
      </div>
    </div>
  </div>