
<div class="container p-5 " >
  <!-- <div class="card"> -->
    <div class="card-body">
      <h2 class="text-center mb-4"><i class="fa-solid fa-right-to-bracket"></i> Login</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="form3Example3" name="email" formControlName="email"
          [ngClass]="{'is-invalid':(email?.touched || email?.dirty)&&email?.invalid}" required email
          class="form-control" />
        <span class="invalid-feedback">
          <span *ngIf="email?.errors?.['required']">Email is required</span>
          <span *ngIf="email?.errors?.['email']">Email must be contain <i class="fa-solid fa-at"></i> </span>
        </span>
      </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="form3Example3" name="password" minlength="8" formControlName="password"
          [ngClass]="{'is-invalid':(password?.touched || password?.dirty)&&password?.invalid}" required 
          class="form-control" />
        <span class="invalid-feedback">
          <span *ngIf="password?.errors?.['required']">password is required and must be 8 characters </span>
        </span>
      </div>
        <button type="submit" class="btn btn-warning btn-block form-control  mt-2" [disabled]="isLoggedIn">Login</button>
      </form>
    </div>
  <!-- </div> -->
</div>
<!-- <button (click)="logout()" [disabled]="!isLoggedIn">Logout</button> -->