.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  app-pagination {
    display: flex;
    list-style: none;
    padding: 0;
    
  }
  
  app-pagination li {
    margin: 0 5px;
  }
  
  app-pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  app-pagination li a:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }