.sidebar {
  color: white;
  background-color: #131921;
  width: 60px;
  overflow: hidden;
  transition: width 0.3s;
  height: 100%;
}

.sidebar.open {
  width: 180px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}

.sidebar span {
  display: none;
}

.sidebar:hover span {
  display: inline-block;
}

.sidebar:hover i {
  display: inline-block;
}

.sidebar button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidebar button i {
  margin-right: 10px;
}

