<div *ngIf="isLoggedIn" [ngClass]="{'open': isOpen}" class="sidebar" (mouseenter)="openSidebar()" (mouseleave)="closeSidebar()">
    <button (click)="toggleSidebar()" class="btn btn-dark">
      <i *ngIf="!isOpen||isHovered" class="fa-solid fa-list"></i>
      <span *ngIf="isOpen || isHovered">Amazon Dashboard</span>
    </button>
  
    <a routerLink="/home/dashboard">
      <i *ngIf="!isOpen||isHovered" class="fa-solid fa-house"></i>
       <span *ngIf="isOpen || isHovered">Dashboard</span>
    </a>
    <a routerLink="/home/products">
      <i *ngIf="!isOpen||isHovered" class="fa-brands fa-product-hunt"></i>
       <span *ngIf="isOpen || isHovered">Add Products</span>
    </a>

    <a routerLink="/home/orders">
      <i *ngIf="!isOpen||isHovered" class="fa-solid fa-house"></i>
      <span *ngIf="isOpen || isHovered">Orders</span>
    </a>
  </div>
 